.btn-sistema{ 
    color: #fff;
    background-color: #30579c;
    border-color: #30579c;
}

.btn:hover {
    color: #e4e6e9 !important;
    text-decoration: none;
}

.card{
	border: 3px solid #30579c;
}

.vd_red{
	color: red;
}
.vd_green  {
    color: #8bc34a;
}
